@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


body{
    background: url(./assets/Background.jpg) no-repeat center/cover;
    margin: 0;
}
#rede-sociais{
    border: 2px solid rgb(103, 62, 191);
    border-radius: 1.25rem;
    background: rgba(0, 0, 0, 0.397) no-repeat center/cover;
    margin: 16px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
    display: flex;
    gap: 40px;
    font-size: 24px;
}
#icon{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100px;
    right: 100%;
    justify-content: flex-end;
}
#icon a{
    color: rgba(236, 236, 236, 0.863);
    text-decoration: none;

    position: relative;
    font-size: 50px;
    right: 20px;
    display: inline-flex;
    flex-direction:column;
    align-items: center;
}
#icon a:hover{
    color: rgba(144, 104, 178, 0.863);
    transition: all 0.5s;
}
#rede-sociais h1{
    color: rgba(236, 236, 236, 0.863);
    font-size: 60px;
    width: 700px;
    font-weight: 700;
    font-style: italic;
    margin-left: 20px;
    font-family: "Space Grotesk", sans-serif;
}

#container{
    border : 2px solid rgba(255, 0, 0, 0);
    width: 1700px;
    height: 1000px;
    margin: auto;
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* PERFIL */

#profile{
    border: 1px solid rgba(255, 0, 0, 0);
    width: 317px;
    height: 317px;
    margin-left: auto;
    margin-right: 60px;
    margin-top: 30px;
    position: relative;
    border-radius: 25px;
     font-family: "italic", sans-serif;
}
#profile img{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    border-radius: 50%;
    
}
#profile p{
    font-size: 24px;
    color: rgba(176, 176, 176, 0.863);
    position: relative;
    text-align: center;
    margin-top: 350px;
    font-style: italic;
}


/*NOME*/

#name{
 border: 1px solid rgba(255, 0, 0, 0);
  width: 1300px;
  position: relative;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 160px;
}

#name h1{
    color: rgba(236, 236, 236, 0.863);
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
    text-align: start;
}
#name p{
    color: rgba(176, 176, 176, 0.863);
    font-size: 24px;
    font-style: italic;
    font-family: "Space Grotesk", sans-serif;
    margin-top: -20px;
    text-align: start;
    text-decoration: overline;
}
#pessoal{
    
    width: 1300px;
    position: relative;
    text-align: center;
    justify-content: center;
    position: absolute;
}

#pessoal p{
    color: rgb(236, 236, 236);
    font-size: 22px;
    font-style: italic;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;
    text-decoration: none;
    width: 1000px;
}
#pessoal a{
    display: flex;
    margin-top: 150px;
    padding: 10px 20px;
    background-color: rgba(103, 62, 191, 0.8);
    color: rgba(255, 255, 255, 0.862);
    text-decoration: none;
    border-radius: 5px;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
}
#pessoal a:hover{
    background-color: rgba(153, 92, 206, 0.8);
    color: white;
    transition: all 0.5s;
    padding: 14px 24px;
}

#pessoal span{
    border-bottom: 2px solid rgba(236, 236, 236, 0.863);
    width: 1700px;
    margin-top: 50px;
    display: block;
}

/* competencias */

#competencia1{
    
    text-align: center;
    font-size: 60px;
    color: rgba(236, 236, 236, 0.863);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
     margin-top: -150px;
    margin-left: 500px;
    padding: 0 60px;
}
#competencias{
    border: 2px solid rgba(103, 62, 191, 0.891);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.397) no-repeat center/cover;
    width: 1700px;
    margin: auto;
    height: 500px;
    display: flex;
    margin-top: -100px;
    
}
#competencias h1{
    color: rgba(236, 236, 236, 0.863);
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 20px;
    margin-left: -1000px;
}
#competencias h2{
    color: rgba(236, 236, 236, 0.863);
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 20px;
    margin-left: 50px;
    padding: 0 60px;
}
#competencias h3{
    color: rgba(236, 236, 236, 0.863);
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 20px;
    margin-left: 50px;
    padding: 0 60px;
}
#competencias h4{
    color: rgba(236, 236, 236, 0.863);
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 20px;
    margin-left: 50px;
    padding: 0 60px;
}
.IFSC{
    position:absolute;
    display: inline-flex;
    
}
.IFSC h5{
    color: rgba(236, 236, 236, 0.863);
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 270px;
    margin-left: 50px;
}
.IFSC h6{
    color: rgba(236, 236, 236, 0.863);
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 270px;
    margin-left: 50px;
    padding: 0 50px;
}

/* PROJETOS */

#projetos{
    border: 2px solid rgba(92, 0, 185, 0.946);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.259);
    width: 1700px;
    margin: auto;
    height: 2500px;
    margin-top: 100px;
   
}
#projetos h1{
    /* border: 1px solid rgba(103, 62, 191, 0.891); */

    border-radius: 20px;
    /* background: rgba(49, 23, 63, 0.359) no-repeat center/cover; */
    color: rgba(250, 250, 250, 0.767);
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}

#torno{
    border-radius: 20px;
    width: 1600px;
    height: 600px;
    margin: auto;
    margin-top:  0px;
    text-align: center;
    position: absolute;
}
#torno a p{
    border: 1px solid rgba(103, 62, 191, 0.891);
    background: rgba(0, 0, 0, 0.427) no-repeat center/cover;
    border-radius: 20px;
    margin-left: 100px;
    width: 1500px;
    height: 50px;
    z-index: -1;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: rgb(250, 250, 250);
   
}
#torno a p:hover{
    border: 1px solid rgb(123, 87, 200);
    background: rgba(34, 22, 41, 0.485) no-repeat center/cover;
    border-radius: 20px;
}
    
#torno img{
    border: 1px solid rgba(103, 62, 191, 0);
    margin-left: 100px;
    width: 1500px;
    margin-top: 0px;
    border-radius: 15px;
}
#torno p{
    color: rgba(236, 236, 236, 0.863);
    font-size: 35px;
    font-style: italic;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
}

/* PROJETO 2 */

#curriculo{
    border-radius: 20px;
    width: 1600px;
    height: 600px;
    margin: auto;
    margin-top:  1200px;
    text-align: center;
    position: absolute;
}
#curriculo p{
    color: rgba(236, 236, 236, 0.863);
    font-size: 35px;
    font-style: italic;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
}
#curriculo img{
    border: 1px solid rgba(103, 62, 191, 0);
    margin-left: 100px;
    width: 1500px;
    margin-top: 0px;
    border-radius: 15px;
}
#curriculo a p{
    border: 1px solid rgba(103, 62, 191, 0.891);
    background: rgba(0, 0, 0, 0.427) no-repeat center/cover;
    border-radius: 20px;
    margin-left: 100px;
    width: 1500px;
    height: 50px;
    z-index: -1;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: rgb(250, 250, 250);

}


/* FOOTER */

#footer{
    background: rgba(0, 0, 0, 0.259);
    width: cover;
    margin: 0;
    height: 530px;
    margin-top: 200px;
    text-align: center;
    
   
}

#footer h1{
    border-radius: 20px;
    /* background: rgba(49, 23, 63, 0.359) no-repeat center/cover; */
    color: rgba(250, 250, 250, 0.767);
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 30px;
    text-align: start;
    padding: 24px;
}
#footer ul{
    font-family: "Space Grotesk", sans-serif;
    list-style: none;
    gap: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    transition: all 1s;
    align-items: start;
    margin-left: 70px;
    margin-bottom: 70px;
}
#footer ul li a{
    color: rgba(236, 236, 236, 0.863);
    text-decoration: none;

    position: relative;
    font-size: 30px;
    right: 20px;
    display: inline-flex;
    flex-direction:row;
    right: 46%;
    align-items: start;
}
#footer ul li a:hover{
    color: rgba(228, 87, 209, 0.799);
    text-decoration: none;

    position: relative;
    font-size: 33px;
    right: 20px;
    display: inline-flex;
    flex-direction:row;
    right: 46%;
    align-items: start;
}
#footer p{
    color: white;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}
#contato{
    font-size: 30px;
    width: 800px;
    text-align: start;
    color: white;
    margin-left: 30px;
    margin-bottom: 50px;

}

/* RECEPTIVIDADE PARA lep top
 */

@media (max-width: 1024px) {

    body{
    background: url(./assets/Background.jpg) no-repeat center/cover;
    margin: 0;
}

/* REDE SOCIAIS */

#rede-sociais{
    border: 2px solid rgb(103, 62, 191);
    border-radius: 1.25rem;
    background: rgba(0, 0, 0, 0.397) no-repeat center/cover;
    margin: 8.5px;
    height: 53px;
    display: flex;
    align-items: center;
    gap: 21px;
    font-size: 12.8px;
}

#icon{
    display: flex;
    align-items: center;
    gap: 12.8px;
    width: 100%;
    height: 53px;
    justify-content: flex-end;
}

#icon a{
    color: rgba(236, 236, 236, 0.863);
    text-decoration: none;
    position: relative;
    font-size: 26.6px;
    right: 10.6px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#rede-sociais h1{
    color: rgba(236, 236, 236, 0.863);
    font-size: 32px;
    width: 373px;
    margin-left: 10.6px;
}

/* CONTAINER */

#container{
    width: 906px;
    height: 533px;
    margin: auto;
}

/* PERFIL */

#profile{
    width: 169px;
    height: 169px;
    margin-right: 32px;
    margin-top: 16px;
    border-radius: 13px;
    position: relative;
}

#profile img{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10.6px;
    border-radius: 50%;
}

#profile p{
    font-size: 12.8px;
    margin-top: 187px;
    text-align: center;
}

/* NOME */

#name{
    width: 693px;
    position: absolute;
    top: 85px;
}

#name h1{
    font-size: 32px;
}

#name p{
    font-size: 12.8px;
    margin-top: -10.6px;
}

/* PESSOAL */

#pessoal{
    width: 693px;
    position: absolute;
}

#pessoal p{
    font-size: 11.7px;
    margin-top: 16px;
    width: 533px;
}

#pessoal a{
    margin-top: 80px;
    padding: 5.3px 10.6px;
    width: 96px;
    font-size: 10.6px;
}

#pessoal span{
    width: 906px;
    margin-top: 26.6px;
}

/* COMPETÊNCIAS */

#competencia1{
    font-size: 32px;
    margin-top: -80px;
    margin-left: 266px;
    padding: 0 32px;
}

#competencias{
    width: 906px;
    height: 266px;
    margin-top: -53px;
    border-radius: 10.6px;
    display: flex;
}

#competencias h1{
    margin-top: 20px;
    margin-left: -540px;
    font-size: 53px;
}
#competencias h2,
#competencias h3,
#competencias h4{
    font-size: 53px;
    margin-top: 10.6px;
    margin-left: 26.6px;
    padding: 0 32px;
}

.IFSC h5,
.IFSC h6{
    font-size: 37px;
    margin-top: 144px;
    margin-left: 26.6px;
}

/* PROJETOS */

#projetos{
    width: 906px;
    height: 1333px;
    margin-top: 53px;
    border-radius: 10.6px;
}

#projetos h1{
    font-size: 53px;
    margin-top: 16px;
}

/* TORNO */

#torno{
    width: 853px;
    height: 320px;
    margin: auto;
    position: absolute;
}

#torno img,
#curriculo img{
    width: 800px;
    margin-left: 53px;
    border-radius: 8px;
}

#torno a p,
#curriculo a p{
    width: 800px;
    height: 26.6px;
    margin-left: 53px;
    font-size: 18.6px;
}

/* CURRICULO */

#curriculo{
    width: 853px;
    height: 320px;
    margin-top: 640px;
    position: absolute;
}

#curriculo p{
    font-size: 18.6px;
}

/* FOOTER */

#footer{
    height: 350px;
    margin-top: 106px;
}

#footer h1{
    font-size: 32px;
    padding: 12.8px;
}

#footer ul{
    gap: 6.4px;
    margin-left: 37px;
}

#footer ul li a{
    font-size: 16px;
}
#footer ul li a :hover{
    font-size: 16px;
}

#contato{
    font-size: 16px;
    width: 426px;
    margin-left: 16px;
}
}

 /* RECEPTIVIDADE DE CELULAR */

@media (max-width: 768px) {
   
body{
    background: url(./assets/Background.jpg) no-repeat center/cover;
    margin: 0;
}

/* REDE SOCIAIS */

#rede-sociais{
    border: 2px solid rgb(103, 62, 191);
    border-radius: 1.25rem;
    background: rgba(0, 0, 0, 0.397) no-repeat center/cover;
    margin: 6.4px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 9.6px;
}

#icon{
    display: flex;
    align-items: center;
    gap: 9.6px;
    width: 100%;
    height: 80px;
    justify-content: flex-end;
}

#icon a{
    color: rgba(236, 236, 236, 0.863);
    text-decoration: none;
    position: relative;
    font-size: 20px;
    right: 8px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#rede-sociais h1{
    color: rgba(236, 236, 236, 0.863);
    font-size: 24px;
    width: 280px;
    margin-left: 8px;
}

/* CONTAINER */

#container{
    width: 680px;
    height: 400px;
    margin: auto;
}

/* PERFIL */

#profile{
    width: 190px;
    height: 127px;
    margin-right: 24px;
    margin-top: 12px;
    border-radius: 10px;
    position: relative;
}

#profile img{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    border-radius: 50%;
}

#profile p{
    font-size: 15px;
    margin-top: 300px;
    text-align: center;
}

/* NOME */

#name{
    width: 470px;
    position: absolute;
    top: 64px;
}

#name h1{
    font-size: 30px;
}

#name p{
    font-size: 15px;
    margin-top: -8px;
}

/* PESSOAL */

#pessoal{
    width: 470px;
    position: absolute;
}

#pessoal p{
    font-size: 19px;
    margin-top: 12px;
    width: 400px;
    font-family: "Space Grotesk", sans-serif;

}

#pessoal a{
    margin-top: 30px;
    width: 140px;
    margin-bottom: 24px;
    font-size: 24px;
    text-align: center;
    left: 50%;
    transform: translateX(50%);
}

#pessoal span{
    width: 680px;
    margin-top: 20px;
}

/* COMPETÊNCIAS */

#competencia1{
    font-size: 24px;
    margin-top: -60px;
    margin-left: 200px;
    padding: 0 24px;
}

#competencias{
    width: 680px;
    height: 200px;
    margin-top: 170px;
    border-radius: 8px;
    display: flex;
}

#competencias h1{
    font-size: 30px;
    margin-top: 8px;
    margin-left: 20px;
    padding: 0 24px;
    margin-left: -370px;
}
#competencias h2,
#competencias h3,
#competencias h4{
    font-size: 30px;
    margin-top: 8px;
    margin-left: 20px;
    padding: 0 24px;
}

.IFSC h5,
.IFSC h6{
    font-size: 28px;
    margin-top: 108px;
    margin-left: 20px;
}

/* PROJETOS */

#projetos{
    width: 680px;
    height: 1160px;
    margin-top: 40px;
    border-radius: 8px;
}

#projetos h1{
    font-size: 40px;
    margin-top: 12px;
}

/* TORNO */

#torno{
    width: 640px;
    height: 240px;
    margin: auto;
    position: absolute;
}

#torno img{
    width: 600px;
    margin-left: 40px;
    border-radius: 6px;
    margin-bottom: 30px;
}
#curriculo img{
    width: 600px;
    margin-left: 40px;
    border-radius: 6px;
    margin-top: 0px;
}

#torno a p{
    width: 600px;
    height: 40px;
    margin-left: 40px;
    font-size: 24px;
}
#torno p{
    font-size: 24px;
    margin-bottom: 10px;
}
#curriculo a p{
    width: 600px;
    height: 40px;
    margin-left: 40px;
    font-size: 24px;
    margin-bottom: 50px;
}

/* CURRÍCULO */

#curriculo{
    width: 640px;
    height: 240px;
    margin-top: 580px;
    position: absolute;
}

#curriculo p{
    font-size: 24px;
    margin-bottom: 10px;
}

/* FOOTER */

#footer{
    height: 312px;
    margin-top: 150px;
}

#footer h1{
    font-size: 24px;
    padding: 9.6px;
}

#footer ul{
    gap: 4.8px;
    margin-left: 28px;
}

#footer ul li a{
    font-size: 12px;
}

#contato{
    font-size: 12px;
    width: 320px;
    margin-left: 12px;
}

}




/* RECEPTIVIDADE PARA CELULAR
 */


 @media (max-width: 480px) {

body{
    background: url(./assets/Background.jpg) no-repeat center/cover;
    margin: 0;
}

/* REDE SOCIAIS */

#rede-sociais{
    border: 2px solid rgb(103, 62, 191);
    border-radius: 1.25rem;
    background: rgba(0, 0, 0, 0.397) no-repeat center/cover;
    margin: 6.4px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 9.6px;
    width: 670px;
}

#icon{
    display: flex;
    align-items: center;
    gap: 9.6px;
    width: 500px;
    height: 80px;
    justify-content: flex-end;
}

#icon a{
    color: rgba(236, 236, 236, 0.863);
    text-decoration: none;
    position: relative;
    font-size: 60px;
    right: 8px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#rede-sociais h1{
    color: rgba(236, 236, 236, 0.863);
    font-size: 40px;
    width: 500px;
    margin-left: 8px;
}

/* CONTAINER */

#container{
    width: 680px;
    height: 400px;
    margin: auto;
}

/* PERFIL */

#profile{
    width: 190px;
    height: 127px;
    margin-right: 24px;
    margin-top: 12px;
    border-radius: 10px;
    position: relative;
}

#profile img{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    border-radius: 50%;
}

#profile p{
    font-size: 15px;
    margin-top: 300px;
    text-align: center;
}

/* NOME */

#name{
    width: 700px;
    position: absolute;
    top: 64px;
}

#name h1{
    margin-top: 24px;
    font-size: 34px;
    margin-left: 40px;
}

#name p{
    font-size: 15px;
    margin-top: -8px;
    margin-left: 40px;
}

/* PESSOAL */

#pessoal{
    width: 470px;
    position: absolute;
}

#pessoal p{
    font-size: 19px;
    margin-top: 12px;
    width: 400px;
    font-family: "Space Grotesk", sans-serif;

}

#pessoal a{
    margin-top: 30px;
    width: 250px;
    margin-bottom: 24px;
    font-size: 34px;
    text-align: center;
    left: 50%;
    transform: translateX(70%);
}

#pessoal span{
    width: 680px;
    margin-top: 20px;
}

/* COMPETÊNCIAS */

#competencia1{
    font-size: 24px;
    margin-top: -60px;
    margin-left: 200px;
    padding: 0 24px;
}

#competencias{
    width: 680px;
    height: 200px;
    margin-top: 170px;
    border-radius: 8px;
    display: flex;
}

#competencias h1{
    font-size: 38px;
    margin-top: 8px;
    margin-left: 20px;
    padding: 0 24px;
    margin-left: -425px;
}
#competencias h2,
#competencias h3,
#competencias h4{
    font-size: 38px;
    margin-top: 8px;
    margin-left: 20px;
    padding: 0 24px;
}

.IFSC h5,
.IFSC h6{
    font-size: 28px;
    margin-top: 108px;
    margin-left: 20px;
}

/* PROJETOS */

#projetos{
    width: 680px;
    height: 1260px;
    margin-top: 40px;
    border-radius: 8px;
}

#projetos h1{
    font-size: 40px;
    margin-top: 12px;
}

/* TORNO */

#torno{
    width: 640px;
    height: 240px;
    margin: auto;
    position: absolute;
}

#torno img{
    width: 600px;
    margin-left: 40px;
    border-radius: 6px;
    margin-bottom: 30px;
}
#curriculo img{
    width: 600px;
    margin-left: 40px;
    border-radius: 6px;
    margin-top: 0px;
}

#torno a p{
    width: 600px;
    height: 70px;
    margin-left: 40px;
    font-size: 44px;
}
#torno p{
    font-size: 24px;
    margin-bottom: 10px;
}
#curriculo a p{
    width: 600px;
    height: 70px;
    margin-left: 40px;
    font-size: 44px;
    margin-bottom: 50px;
}

/* CURRÍCULO */

#curriculo{
    width: 640px;
    height: 240px;
    margin-top: 650px;
    position: absolute;
}

#curriculo p{
    font-size: 24px;
    margin-bottom: 10px;
}

/* FOOTER */

#footer{
    background: rgba(0, 0, 0, 0.259);
    width: 700px;
    margin: 0;
    height: 830px;
    margin-top: 200px;

}

#footer h1{
    font-size: 64px;
    padding: 9.6px;
}

#footer ul{
    gap: 4.8px;
    margin-left: 98px;
}

#footer ul li a{
    font-size: 42px;
}

#contato{
    font-size: 34px;
    width: 620px;
    margin-left: 12px;
}




    
}